* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: red solid 1px; */
}

body {
    background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 12px;
}

/* text styling */
h2 {
    font-size: 2.2rem;
    margin-bottom: 30px;
}

.drop-down {
    font-size: 1.2rem;
}

/* Dividers */

.light-grayish-blue {
    color: hsl(240, 5%, 91%);
}

/* Main container */

#main-container {
    background-color: white;
    border-radius: 15px;
    height: 70vh;
    width: 70vw;
    display: flex;
    flex-direction: row;
}

/* image styling */

#image-container {
    width: 50%;
    min-width: 400px;
    flex-grow: 5;
}

#woman-desktop-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

#woman-desktop {
    position: absolute;
    left: -80px;
    top: 9rem;
    z-index: 1;
}

#pattern-desktop-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    /* left: 0px;
    top: -563px; */
    top: 0px;
}

#pattern-desktop {
    position: absolute;
    left: -574px;
    bottom: -100px;
}

#box-image-wrapper {
    position: absolute;
    z-index: 4;
    top: 210px;
    margin-block: auto;
}

#box-desktop {
    display: block;
}

/* accordion styling  */

#faq-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.drop-down {
    border: none;
    border-bottom: 1px solid hsl(240, 5%, 91%);
    background-color: transparent;
    margin: 10px 10px 10px 0px;
    padding: 10px 0px;
    width: 90%;
    text-align: left;
}

.arrow-down {
    margin: 10px;
    float: right;
}

/* mobile / tablet view */

@media only screen and (max-width: 768px) {
    #main-container {
        height: 80vh;
        width: 70vw;
        overflow: hidden;
        display: flex;
        flex-direction: column;
    }

    #image-container {
        width: 100%;
        height: 20%;
        background-color: lightsalmon;
        display: flex;
        justify-content: center;
        align-items: center;
        position: static;
    }

    #woman-desktop-wrapper {
        max-width: 100%;
        height: auto;
        overflow: hidden;
        position: relative;
        display: flex;
        justify-content: center;
    }

    #woman-desktop {
        height: 100%;
        width: 100%;
        left: 0px;
        position: relative;
        left: 0px;
        top: 0px;
        z-index: 1;
    }

    #pattern-desktop-wrapper {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;
        left: 0px;
        top: -563px;
    }

    #pattern-desktop {
        position: absolute;
        left: -574px;
        bottom: -100px;
    }

    #box-image-wrapper {
        position: relative;
        z-index: 4;
        left: 0px;
        top: 0px;
        margin-block: auto;
    }

    #box-desktop {
        width: auto;
    }

    h2 {
        text-align: center;
        margin-bottom: 50px;
    }

    #faq-container {
        width: 100%;
        height: 80%;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: lightgreen;
    }
}